body{
    background-color: antiquewhite;
    padding: 2px;

}

h1{
    text-align: center;
}

.textcontent{
    border: 2px solid antiquewhite;
    text-align: center;
    height: 300px;

}

.para1{
    margin-top: 100px;

}

.foto1{
    float: left;
    height: 300px;
    border-radius: 50%;
    
}

ol li:nth-child(odd){
    background-color: white;
    
    
}